:root {
  --highlight: #e55f4c;
  --faded-gray: #565656;
  --light-gray: rgba(86, 86, 86, 0.2);
  --darker-light-gray: rgba(86, 86, 86, 0.7);
  --paper-background: #f8f5f2;
  --dirty-blue: #6a9e98;
}

.dirty-blue-bg {
  background-color: var(--dirty-blue);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

main {
  height: max-content;
  height: 2000px;
}

.logo {
  transition: 0.2s;
}

.logo:hover {
  transition: 0.2s;
  transform: translate3d(10px, 0, 0);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid var(--light-gray);
}

.header-nav {
  display: flex;
  align-items: center;
  position: relative;
}

.header-main-link {
  display: block;
  padding: 20px 15px;
  transition: 0.2s;
  font-weight: bolder;
  color: var(--faded-gray);
  cursor: pointer;
  position: relative;
}

.header-arrow::after {
  position: absolute;
  transition: 0.2s;
  top: 14px;
  transform: rotate(90deg);
  right: -3px;
  content: ">";
  font-size: 24px;
  font-weight: 600;
  color: var(--light-gray);
}

.header-arrow:hover::after {
  transition: 0.2s;
  transform: rotate(90deg) translate3d(0px, -3px, 0);
  color: var(--highlight);
}

.header-main-link:hover {
  transition: 0.2s;
  color: var(--highlight);
}

.hover-container {
  position: relative;
  display: flex;
}

.hover-container-content {
  transition: 0.2s;
  padding: 25px;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 50px;
  left: 0;
  transform: scale3d(0);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: white;
  max-height: 350px;
  min-width: 150px;
  width: max-content;
  z-index: 99;
}

.lg-hover-container-content {
  width: 640px;
}

.hover-container-content-link {
  padding: 0px 15px 15px 0;
  transition: 0.2s;
  font-weight: 400;
  color: var(--faded-gray);
  cursor: pointer;
  position: relative;
  min-width: 150px;
  width: max-content;
  visibility: hidden;
  transform: scale3d(0);
}

.hover-container-content-link:first-child {
  padding-top: 0;
}

.hover-container:hover .hover-container-content {
  visibility: visible;
  opacity: 1;
  transition: 0.2s;
  box-shadow: 0px 1px 5px 1px var(--light-gray);
  min-width: 150px;
  transform: scale3d(1);
}

.hover-container:hover .hover-container-content-link {
  transition: 0.2s;
  visibility: visible;
  transform: scale3d(1);
}

.hover-container-content-link:hover {
  transition: 0.2s;
  color: var(--highlight);
}

.contact {
  color: white;
  background-color: var(--highlight);
  padding: 12px 15px;
  font-weight: bolder;
  transition: 0.2s;
  cursor: pointer;
}

.contact:hover {
  transition: 0.2s;
  background-color: #ce5544;
}

/* CTA Jumbo */
.cta-jumbo {
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  min-height: 150px;
  max-width: 1200px;
  min-width: 100%;
  padding: 150px 75px;
  text-align: center;
  background-color: var(--paper-background);
  margin-bottom: 60px;
}

.cta-mini-title {
  color: var(--darker-light-gray);
  font-weight: bolder;
  text-align: center;
  margin-bottom: 20px;
}

.cta-main-title {
  font-size: 40px;
  width: 80%;
  margin: auto;
}

.underline-text {
  position: relative;
}

.cta-paragraph {
  margin: 30px auto 0 auto;
  width: 80%;
  font-size: 23px;
  line-height: 35.5px;
}

.cta-button {
  margin: 40px auto;
  width: fit-content;
  padding: 13px 15px;
}

.underline {
  position: absolute;
  bottom: 0;
  right: 0;
}

.page-bottom-paper {
  position: absolute;
  bottom: -15px;
  right: 0;
  left: 0;
}

.info-1 {
  display: flex;
  padding: 0 45px;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 220px auto;
}

.info-1-left-side {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
}

.info-top-link {
  color: white;
  font-weight: bolder;
  padding: 10px 15px;
  width: fit-content;
  margin-bottom: 30px;
}

.info-title {
  font-size: 40px;
  margin-bottom: 20px;
}

.info-desc {
  line-height: 34px;
  margin-bottom: 20px;
}

.info-bottom-link {
  color: var(--highlight);
  font-weight: bolder;
}

.info-1-right-side {
  flex-basis: 50%;
}

.info-image {
  width: 100%;
  height: 623px;
  object-fit: contain;
}

.info-1-links {
  display: flex;
  background-color: var(--paper-background);
  flex-wrap: wrap;
  height: 170px;
  padding: 35px;
  flex-basis: 65%;
  font-size: 16px;
  margin-top: -120px;
  margin-left: 20px;
}

.info-links-title {
  flex-basis: 100%;
}

.info-links-links::after {
  content: "\2794";
  display: inline-block;
  color: var(--highlight);
  transform: translateX(10px);
  font-weight: bolder;
  font-size: 22px;
  vertical-align: middle;
  transition: 0.2s;
}

.info-links-links:hover {
  transition: 0.2s;
  color: var(--highlight);
}

.info-links-links:hover::after {
  transition: 0.2s;
  transform: translateX(15px);
}

.info-links-links {
  flex-basis: 50%;
  /* padding: 25px 0; */
  /* margin: 20px 25px; */
}
